body {
	background-color: #ddd;
}

figure {
	width: 25%;
}

figure img{
	width: 100%;
}

figcaption {
	text-align: right;
}

.star {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: url(../images/Gold_Star_off.svg); 
	background-size: 100%;
}

.star.starOn {
	background: url(../images/Gold_Star.svg); 
}